<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="adminService" class="com.smartlib.service.AdminService"/>
    <bean id="memberService" class="com.smartlib.service.MemberService"/>
    <bean id="issueService" class="com.smartlib.service.IssueService">
        <property name="adminService" ref="adminService"/>
    </bean>
</beans>